.body-programa-content-list {
    padding-top: 10px;
    .filter-bar {
        width: 100%;
        line-height: 70px;
        margin: 0 auto;
        margin-bottom: 10px;
        border-bottom: 3px solid #EDEEF3;
        .search-input{
            position: relative;
            input{
                width: 100%;
                outline: none;
                height: 34px;
                padding: 6px 12px;
                border: 0;
                background: #f2f2f2;
                border-radius: 100px;
                padding-left: 20px;
            }
            input::-ms-input-placeholder,input::-webkit-input-placeholder{
                color: #000;
                filter: alpha(opacity=20);
                opacity: .2;
            }

            >img{
                position: absolute;
                top: 28px;
                right: 13px;
                cursor: pointer;;
            }
        }
    }
    .programa-title-list-wrap {
        overflow: auto;
        width: 100%;
        padding-right: 10px;
        ul {
            > li {
                &:nth-of-type(odd) {
                    background-color: #eeeff4;
                }
            }
        }
    }
    .nav-paging {
        ul {
            margin: 13px auto 18px;
        }
    }
    .programa-title-list-ul{
        height: 50px;
        line-height: 50px;
        padding-top: 7px;
    }

    .programa-title-list-ul, .programa-title-list-wrap{
        li {
            cursor: pointer;
            font-size: 14px;
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            .title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;
            }
        }
    }
    /*table {
        border-top: 3px solid #EDEEF3;
        padding-top: 7px;
        thead,tbody,th,tr,td {
            border: 0 !important;
        }
        >thead>tr>th,>tbody>tr>td{
            padding: 15px 30px!important;
        }
        &.table-striped>tbody>tr:nth-of-type(odd) {
            background-color: #eeeff4;
        }
    }*/
}
.body-programa-detail-list {

}
